div.post-container {
  position: relative;
}
div.post-vertical {
  padding: 8px 4px;
  position: absolute;
  text-align: center;
  width: 68px;
}
.ra1-pw-layout-vertical .ra1-pw-sharealone-brd__16 {
  margin: 0 auto;
}
