#edit-enabled-services div.form-type-checkbox,
#edit-content-types div.form-type-checkbox {
  float: left;
  margin-right: 20px;
  width: 130px;
}
img.post_example {
  float: right;
}
input.post_weight {
  width: 60px !important;
}
